.header {
    width: 100%;
    display: flex;
    align-items: center;
  
    padding: 1rem 2rem;
    background-color: brown;
  
    margin-bottom: 5rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }